.File 
{
    background-color: rgba(240, 248, 255, 0.356);
    padding: 10px;
}

.File h1{
    color: rgb(97, 97, 97);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;    
}

